@model LikeViewModel
@{
    ViewData["Title"] = "Reviews";
}

@foreach(var review in @Model.Reviews.Reverse())
{
  <ol class="list-group list-group-numbered">
   <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
     <div class="fw-bold">
         <a href="@Url.Action("Detail", "Home", new { id = @review.ReviewId})">@review.Title</a>
     </div>
    </div>     
   </li> 
  </ol>
}

