@model ReviewViewModel
@{
    ViewData["Title"] = "Review";
}
<head>
    <script src="~/ckeditor/ckeditor.js"></script>
    <link href="~/ckeditor/contents.css" rel="stylesheet"/>
</head>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
    </div>
    <div class="col-md-auto">
        <h1>@Model.Review.Title</h1>
    </div>
    <div class="col col-lg-2">
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-2">
    </div>
    <div class="col-md-auto" id="editor">
        @Html.Raw(Model.Review.Body)
    </div>
    <div class="col col-lg-2">
    </div>
  </div>
</div>

