@model ReviewViewModel
@{
    ViewData["Title"] = "Review";
}

<div class="text-center">
    <h1 class="display-4">Review</h1>
</div>
<form asp-controller="review" asp-action="index" method="post">
  <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input asp-for="Review.Title" type="text" class="form-control" placeholder="" aria-describedby="button-addon1">
  </div>
  <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Category</label>
      <select asp-for="Review.CategoryId" class="form-select" id="inputGroupSelect01" asp-items="@ViewBag.SelectItems">
      </select>
  </div>
  <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Tag</label>
      <input asp-for = "Name" type="text" class="form-control" placeholder="" aria-describedby="button-addon1">
  </div>
  <div class="input-group mb-3">
        <textarea asp-for = "Review.Body" id = "content" class="form-control"></textarea>
  </div>
  <div class="d-grid gap-2">
   <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>
