@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocalizationOptions
@inject IViewLocalizer Localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();

    var cultureItems = LocalizationOptions.Value.SupportedCultures
    .Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName })
    .ToList();
}

<form asp-controller="Home" asp-action="SetLanguage" style="margin-top:20px"
      asp-route-returnUrl="@Context.Request.Path"
      method="post" class="form-horizontal">
      @Localizer["Language"]: <select name="culture" onchange="this.form.submit();"
                                       asp-for="@requestCulture.RequestCulture.UICulture.Name"
                                       asp-items="cultureItems"></select>
</form>