@model AdminViewModel
@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">
    <h1 class="display-4">Admin</h1>
</div>

<table class="table table-hover">
  <thead class="table table-hover">
    <tr>
      <th scope="col">Login</th>
    </tr>
  </thead>
  <tbody class="table table-hover">
      @foreach(var user in Model.Users)
      {
       <tr>
         <td><a href="@Url.Action("UserPage", "Admin", new { id = @user.Id})">@user.UserName</a></td>
       </tr>
      }
  </tbody>
</table>